body {
    background-color: #8ad3d5;
}

.border-highlight {
    /*
    border-color:white;
    border-style: solid;
    border-width: 0.5px;
    */
    border-left: yellow;
    border-left-style: groove;
}

.container {
    margin-top: 20px;
}

.header_row {
    background-color: black;
    color: yellowgreen;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 1px 5px 1px ;
    padding: 20px 0 20px 0;
}

.intro-content {
    background-color: cadetblue;
    color: yellow;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 50px 50px 50px 50px;
}


.intro-image {    /*    This needs to be looked intov for proper image mapping    */
    padding: 0.50px 0.50px 0.50px 0.50px;
    border-radius: 50%;
    background:#efefea; 
    margin: 0 auto; 
    align-content: center;
    width: 250px;
}

.central-blocks{
    background-color: orange;
    margin: 0 auto; 
    align-content: center;
    height: auto;
    padding: 40px 20px 40px 20px;
    
}


h1{
    background-color: hotpink;
}